h1 {
  color: @gray; /* to be used by gulp stylus */
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #@gray;
}

.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}
