<div class="container">

	<div class="input-group">
	
		<form name="settings" class="form-horizontal">
		
		  <div class="form-group">
			<label class="control-label col-sm-2" for="username">Username</label>
			<div class="col-sm-10"> 
			  <p id="username" class="form-control-static">Username</p>
			</div>
		  </div>
		  
		  <div class="form-group">
			<label class="control-label col-sm-2" for="company">Company</label>
			<div class="col-sm-10"> 
			  <input type="text" class="form-control" id="company" placeholder="Enter company">
			</div>
		  </div>
		  
		  <div class="form-group">
			<label class="control-label col-sm-2" for="email">Email</label>
			<div class="col-sm-10">
			  <input type="email" class="form-control" id="email" placeholder="Enter email">
			</div>
		  </div>

		  <div class="form-group"> 
			<div class="col-sm-offset-2 col-sm-10">
			  <div class="checkbox">
				<label><input type="checkbox"> Post-Interaction Questions</label>
			  </div>
			</div>
		  </div>
		  
		  <div class="form-group">
			<label class="control-label col-sm-2" for="timeint">Time horizon interactions display</label>
			<div class="col-sm-10">
			  <input type="number" class="form-control" id="timeint" placeholder="Enter months">
			</div>
		  </div>
		  
		  <div class="form-group"> 
			<div class="col-sm-offset-2 col-sm-10">
			  <button type="submit" class="btn btn-default">Submit</button>
			</div>
		  </div>
		</form>
		
	</div>
</div>