<div class="container">

	<div class="input-group">
	
		<form name="settings" class="form-horizontal">
		
		  <div class="form-group">
			<label class="control-label col-sm-2" for="username">Username</label>
			<div class="col-sm-10"> 
			  <p id="username" class="form-control-static">Username</p>
			</div>
		  </div>
		  
		  <div class="form-group">
			<label class="control-label col-sm-2" for="company">Company</label>
			<div class="col-sm-10"> 
			  <input type="text" class="form-control" id="company" ng-model="user.company" data-toggle="tooltip" title="company or organization you are primarily working at">
			</div>
		  </div>
		  
		  <div class="form-group">
			<label class="control-label col-sm-2" for="email">Email</label>
			<div class="col-sm-10">
			  <input type="email" class="form-control" id="email" ng-model="user.email" data-toggle="tooltip" title="your e-mail">
			</div>
		  </div>

		  <div class="form-group"> 
			<div class="col-sm-offset-2 col-sm-10">
			  <div class="checkbox" data-toggle="tooltip" title="Do you want a self-check questionnair after posting an interaction?">
				<label><input type="checkbox" ng-checked="{{ user.postinterq }}" ng-model="user.postinterq"> Post-Interaction Questions</label>
			  </div>
			</div>
		  </div>
		  
		  <div class="form-group">
			<label class="control-label col-sm-2" for="timeint">Time horizon interactions </label>
			<div class="col-sm-10">
				<div class="input-group">
				  <input type="number" class="form-control" id="timeint" ng-model="user.intertime" data-toggle="tooltip" title="number of months back for which you want to see your interactions">
				  <span class="input-group-addon"> months </span>
				</div>
			</div>
		  </div>
		  
		  <div class="form-group"> 
			<div class="col-sm-offset-2 col-sm-10">
			  <button type="submit" class="btn btn-default" ng-click="subSettings()">Submit</button>
			</div>
		  </div>
		</form>
		
	</div>
</div>